### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# quick look at the csv
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# use the length of the list using the 'SN' column
player_count = len(purchase_data['SN'].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# collect values for Unique Items, Average Price, Number of Purchases, and Total Revenue
unique_items = len(purchase_data['Item ID'].unique())
average_price = purchase_data['Price'].mean()
number_of_purchases = len(purchase_data['Purchase ID'])
total_rev = purchase_data['Price'].sum()

# Combine output into a single dataframe
df_analysis = pd.DataFrame({
                            'Number of Unique Items':unique_items,
                            'Average Price':average_price,
                            'Number of Purchases':number_of_purchases,
                            'Total Revenue':total_rev
}, index=[0])

# format the dataframe
format_dict = {'Number of Unique Items':'{0:,.0f}', 'Average Price': '${0:,.2f}', 'Number of Purchases': '{0:,.0f}', 'Total Revenue':'${0:,.2f}'}
df_analysis.style.format(format_dict).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
# group purchase data by gender
gender = purchase_data.groupby('Gender')

# count total number of players by gender
gender_count = gender.nunique()['SN']

# calculate total by gender in percentages
gender_percents = (gender_count / player_count)

# make a dtraframe with outputs
df_gendergraphics = pd.DataFrame({
                                'Total Count':gender_count,
                                'Percentage of Players':gender_percents
})

# format dataframe
(df_gendergraphics.style.format({'Percentage of Players':'{:.2%}'}))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# count purchases by gender
gender_purchase = gender['Purchase ID'].count()

# find average purchases
avg_price = gender['Price'].mean()

# find total purchases
purchase_total = gender['Price'].sum()

# find average purchase per person 
avg_per_person = (purchase_total / gender_count)

# create datafram with outputs
df_purchanalysis = pd.DataFrame({
                                    'Purchase Count':gender_purchase,
                                    'Average Purchase Price':avg_price,
                                    'Total Purchase Value':purchase_total,
                                    'Average Total Purchase per Person':avg_per_person
})

#format dataframe
df_purchanalysis.style.format({
                                'Average Purchase Price':'${0:,.2f}',
                                'Total Purchase Value':'${0:,.2f}',
                                'Average Total Purchase per Person':'${0:,.2f}'
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [22]:
# establish bins for ages
ages = [0, 9, 14, 19, 24, 29, 34, 39, 9999999999]
age_groups = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# sort values into bins
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], ages, labels=age_groups)

# create new dataframe to help calculate new values
df_ages = purchase_data.groupby('Age Group')

# count total by age group
age_count = df_ages['SN'].nunique()

# get percentages
age_percents = (age_count / player_count)

# create new datafram to display outputs
age_demographics = pd.DataFrame({
                                    'Total Count':age_count,
                                    'Percentage of Players':age_percents
})

# format dataframe
age_demographics.style.format({'Percentage of Players':'{:,.2%}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# do the same thing as purchase analysis by gender but now by age
# count purchases by age
age_purchase = df_ages['Purchase ID'].count()

# get the average purchase price by age
age_avg_price = df_ages['Price'].mean()

# get total value by age
age_purchase_total = df_ages['Price'].sum()

# get average purchase per person by age
age_avg_per_person = (age_purchase_total / age_count)

# create dataframe
df_age_purchanalysis = pd.DataFrame({
                                    'Purchase Count':age_purchase,
                                    'Average Purchase Price':age_avg_price,
                                    'Total Purchase Value':age_purchase_total,
                                    'Average Total Purchase per Person':age_avg_per_person
})

#format dataframe
df_age_purchanalysis.style.format({
                                'Average Purchase Price':'${0:,.2f}',
                                'Total Purchase Value':'${0:,.2f}',
                                'Average Total Purchase per Person':'${0:,.2f}'
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
# get purchase data by person
spenders = purchase_data.groupby('SN')

# get total purchases by person
spender_purchase_count = spenders['Purchase ID'].count()

# get average purchase by person
spender_avg_purchase_price = spenders['Price'].mean()

# get total rev per person
spender_purchase_total = spenders['Price'].sum()

# create datafdrame with outputs
top_spenders = pd.DataFrame({
                                'Purchase Count':spender_purchase_count,
                                'Average Purchase Price':spender_avg_purchase_price,
                                'Total Purchase Value':spender_purchase_total
})

# format and sort descending to get top purchasers
top_five = top_spenders.sort_values(['Total Purchase Value'], ascending=False).head().style.format({
                                'Average Purchase Price':'${0:,.2f}',
                                'Total Purchase Value':'${0:,.2f}'
})

top_five

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
# get purchase data by item
item_data = purchase_data.groupby(['Item ID', 'Item Name'])

# get purchase count by item
item_pcount = item_data['Purchase ID'].count()

# get total rev by item
item_rev = item_data['Price'].sum()

# get item price
item_price = (item_rev / item_pcount)

# create dataframe with outputs
top_items = pd.DataFrame({
                            'Purchase Count':item_pcount,
                            'Item Price':item_price,
                            'Total Purchase Revenue':item_rev
})

# sort and format 
top_five_items = top_items.sort_values(['Purchase Count'], ascending=False).head().style.format({
                            'Item Price':'${0:,.2f}',
                            'Total Purchase Revenue':'${0:,.2f}'
})

top_five_items

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [35]:
# sort top_items by revenue
profitable_items = top_items.sort_values(['Total Purchase Revenue'], ascending=False)

#format and get top 5

top_profitable_items = profitable_items.head().style.format({
                            'Item Price':'${0:,.2f}',
                            'Total Purchase Revenue':'${0:,.2f}'
})

top_profitable_items